<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<import xmlns:tal="http://xml.zope.org/namespaces/tal"
        tal:define="properties view/properties"
        tal:attributes="partner properties/partner;
                        partnerid properties/partnerid;
                        passwort properties/password;
                        importid properties/importid_events">
                        
  <tal:items repeat="item view/items">
    <item status="1" suchbar="1">

      <id tal:content="item/id" />
      <titel tal:content="item/title" />
      <termin tal:attributes="allday item/allday">
        <von tal:content="item/von" />
        <bis tal:content="item/bis" />
      </termin>
      <referenzort tal:condition="item/referenzort" tal:content="item/referenzort" />
      <textmobile tal:condition="item/textmobile" tal:content="structure item/textmobile" />
      
      <tal:rubrik repeat="rubrik item/rubrik">
        <rubrik tal:content="rubrik" />
      </tal:rubrik>
      
      <textlead tal:condition="item/textlead" tal:content="item/textlead" />
      
       <url_bild tal:condition="item/image_url"
                tal:content="item/image_url">http://path.to/image.jpg</url_bild>
      <url_web tal:content="item/url">http://www.derlink.ch</url_web>
    </item>
  </tal:items>
</import>
